@import "../../assets//scss//mixin.scss";

.tab {
    display: flex;
    width: 100%;
    height: 40px;
    line-height: 40px;
    @include border-1px(rgba(7,17,27,0.1));
    .tab-item {
        flex: 1;
        text-align: center;
        & > a {
            display: block;
            font-size: 14px;
            color: rgb(77,85,93);
            &.active {
                color: rgb(240,20,20);
            }
        }
    }
}