@import "../../assets/scss/mixin.scss";


.star {
    font-size: 0;
    .star-item {
        display: inline-block;
        background-repeat: no-repeat;
    }
    &.star-48 {
        .star-item {
            width: 20px;
            height: 20px;
            margin-right: 22px;
            background-size: 20px 20px;
            &:last-child {
                margin-right: 0;
            }
            &.on {
                @include bg-image('star48_on');
            }

            &.half {
                @include bg-image('star48_half');
            }

            &.off {
                @include bg-image('star48_off');
            }

        }
    }

    &.star-36 {
        .star-item {
            width: 15px;
            height: 15px;
            margin-right: 6px;
            background-size: 15px 15px;
            &:last-child {
                margin-right: 0;
            }
            &.on {
                @include bg-image('star36_on');
            }

            &.half {
                @include bg-image('star36_half');
            }

            &.off {
                @include bg-image('star36_off');
            }

        }
    }
    &.star-24 {
        .star-item {
            width: 10px;
            height: 10px;
            margin-right: 3px;
            background-size: 10px 10px;
            &:last-child {
                margin-right: 0
            }
            &.on {
                @include bg-image('star24_on')
            }
            &.half {
                @include bg-image('star24_half')
            }
            &.off {
                @include bg-image('star24_off')
            }
        }
    }
}
