

    .shopcart {
        position: fixed;
        left: 0;
        bottom: 0;
        z-index: 50;
        width: 100%;
        height: 48px;
        .cotent {
            display: flex;
            background: #141d27;
            color: rgba(255,255,255,.4);
            .cotent-letf {
                flex: 1;
                .logo-wrapper {
                    display: inline-block;
                    position: relative;
                    top: -10px;
                    margin: 0 12px;
                    padding: 6px;
                    width: 56px;
                    height: 56px;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                    background: #2b343c;
                    .logo {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        -ms-border-radius: 50%;
                        -o-border-radius: 50%;
                        background: rgba(0,0,0,.2);
                        position: relative;
                        text-align: center;
                        &.highlight {
                            background: rgb(0,160,220);
                        }
                        .icon-shopping_cart {
                            font-size: 34px;
                            line-height: 44px;
                            color: #80858a;
                            &.highlight {
                                color: #fff;
                            }
                        }
                    }
                    .nums {
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 24px;
                        height: 16px;
                        line-height: 16px;
                        text-align: center;
                        border-radius: 16px;
                        -webkit-border-radius: 16px;
                        -moz-border-radius: 16px;
                        -ms-border-radius: 16px;
                        -o-border-radius: 16px;
                        font-size: 9px;
                        font-weight: 700;
                        color: #fff;
                        background: rgb(240,20,20);
                        box-shadow: 0 4px 8px 0 rgba(0,0,0,.4);
                    }
                }
                .price {
                    display: inline-block;
                    vertical-align: top;
                    margin-top: 12px;
                    line-height: 24px;
                    box-sizing: border-box;
                    padding-right: 12px;
                    border-right: 1px solid rgba(255,255,255,.1);
                    font-weight: 700;
                    color: rgba(255,255,255,0.4);
                    &.highlight {
                        color: #fff;
                    }
                }
                .decs {
                    display: inline-block;
                    vertical-align: top;
                    line-height: 24px;
                    margin: 12px 0 0 12px;
                    color: rgba(255,255,255,.1);
                    font-size: 14px;
                }
            }
            .comtent-right {
                flex: 0 0 105px;
                width: 105px;
                .pay {
                    height: 48px;
                    line-height: 48px;
                    font-size: 12px;
                    text-align: center;
                    font-weight: 700;
                    background: #2b332b;
                    &.not-enough {
                        background: #2b333b;
                    }
                    &.enough {
                        background: #00b43c;
                        color: #ffffff;
                    }
                }
            }
        }
//         .ball-containner {
//             .ball {
//                 position: fixed;
//                 left: 32px;
//                 bottom: 22px;
//                 z-index: 200;
//                 transition:all 0.4s cubic-bezier(0.49,-0.29,0.75,0.41);
//                 -webkit-transition:all 0.4s cubic-bezier(0.49,-0.29,0.75,0.41);
//                 -moz-transition:all 0.4s cubic-bezier(0.49,-0.29,0.75,0.41);
//                 -ms-transition:all 0.4s cubic-bezier(0.49,-0.29,0.75,0.41);
//                 -o-transition:all 0.4s cubic-bezier(0.49,-0.29,0.75,0.41);
//                 &.ball-show {
//                     transform: translate3d(0,0,0);
//                     -webkit-transform: translate3d(0,0,0);
//                     -moz-transform: translate3d(0,0,0);
//                     -ms-transform: translate3d(0,0,0);
//                     -o-transform: translate3d(0,0,0);
//                 }
//                 .inner {
//                     width: 16px;
//                     height: 16px;
//                     border-radius: 50%;
//                     -webkit-border-radius: 50%;
//                     -moz-border-radius: 50%;
//                     -ms-border-radius: 50%;
//                     -o-border-radius: 50%;
//                     background: rgb(0,160,220);
//                     transition:all 0.4s;
//                     -webkit-transition:all 0.4s;
//                     -moz-transition:all 0.4s;
//                     -ms-transition:all 0.4s;
//                     -o-transition:all 0.4s;
//                     &.inner-show {
//                         transform: translate3d(0,0,0);
//                         -webkit-transform: translate3d(0,0,0);
//                         -moz-transform: translate3d(0,0,0);
//                         -ms-transform: translate3d(0,0,0);
//                         -o-transform: translate3d(0,0,0);
// }
//                 }
//             }
//         }
        .ball {
            position: fixed;
            z-index: 200;
            .inner {
                width: 16px;
                height: 16px;
                background: #00a0dc;
                border-radius: 50%;
            }
        }

        .shopcart-list {
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
            width: 100%;
            transform: translate3d(0,0,0);
            visibility: hidden;
            transition: all .5s;
            -webkit-transition: all .5s;
            -moz-transition: all .5s;
            -ms-transition: all .5s;
            -o-transition: all .5s;
            &.fade {
                visibility: visible;
                transform: translate3d(0,-100%,0);
                -webkit-transform: translate3d(0,-100%,0);
                -moz-transform: translate3d(0,-100%,0);
                -ms-transform: translate3d(0,-100%,0);
                -o-transform: translate3d(0,-100%,0);
            }





            .list-header {
                height: 40px;
                line-height: 40px;
                padding: 0 18px;
                background: #f3f5f7;
                border-bottom: 1px solid rgba(7,17,27,0.1);
                .title {
                    float: left;
                    font-size: 14px;
                    color: rgb(7,17,27);
                }
                .empty {
                    float: right;
                    font-size: 12px;
                    color: rgb(0,160,220);
                }
            }
            .list-content {
                padding: 0 18px;
                max-height: 217px;
                overflow: hidden;
                background: #fff;
                .food {
                    position: relative;
                    padding: 12px 0;
                    box-sizing: border-box;
                    border-bottom: 1px solid rgba(7,17,27,.1);
                    .name {
                        line-height: 24px;
                        font-size: 14px;
                        color: rgb(7,17,27);
                    }
                    .price {
                        position: absolute;
                        right: 90px;
                        bottom: 12px;
                        line-height: 24px;
                        font-size: 14px;
                        color: rgb(240,20,20);
                    }
                    .certontrol-wrapper {
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        margin-bottom: 6px;
                    }
                }
            }
        }
    }

    .list-mask {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 40;
        opacity: 0;
        visibility: hidden;
        background: rgba(7,17,27,0.6);
        transition: all 0.4s;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        -ms-transition: all 0.4s;
        -o-transition: all 0.4s;
        &.enter {
            opacity: 1;
            visibility: visible;
        }
}