@font-face {
    font-family: 'sell-icon';
    src: url("../fonts/sell-icon.eot?k5xf13");
    src:url('../fonts/sell-icon.eot?k5xf13#iefix') format('embedded-opentype'),
        url('../fonts/sell-icon.ttf?k5xf13') format('truetype'),
        url('../fonts/sell-icon.woff?k5xf13') format('woff'),
        url('../fonts/sell-icon.svg?k5xf13#sell-icon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'sell-icon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

    .icon-arrow_lift:before {
        content: "\e900";
    }

    .icon-thumb_up:before {
        content: "\e901";
    }

    .icon-thumb_down:before {
        content: "\e902";
    }

    .icon-shopping_cart:before {
        content: "\e903";
    }

    .icon-favorite:before {
        content: "\e904";
    }

    .icon-check_circle:before {
        content: "\e905";
    }

    .icon-close:before {
        content: "\e906";
    }

    .icon-remove_circle_outline:before {
        content: "\e907";
    }

    .icon-add_circle:before {
        content: "\e908";
    }

    .icon-keyboard_arrow_right:before {
        content: "\e909";
    }