@mixin border-1px($color) {
    position: relative;
    &:after {
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        border-top: 1px solid $color;
        content: ' ';
    }
}


@mixin border-none() {
    &:after {
        display: none;
    }
}


@mixin bg-image($name) {
    background-image: url("./images/" + $name + "@2x.png");
    @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3) {
        background-image: url("./images/" + $name + "@3x.png");
    }
}