@import "../../assets/scss/mixin";

.ratingselect{
    .rating-type{
        padding: 18px 0;
        margin: 0 18px;
        @include border-1px(rgba(7, 17, 27, 0.1));
        font-size: 0;
        .block{
            display: inline-block;
            padding: 8px 12px;
            margin-right: 8px;
            border-radius: 1px;
            color: rgb(77,85,93);
            font-size: 12px;
            &.active {
                color: #fff;
            }
            &.positive{
                background: rgba(0,160,220,0.2);
                &.active {
                    background: rgb(0, 160, 220);
                }
            }
            .count{
                font-size: 8px;
                margin-left: 2px
            }
        }
       
    }
    .switch{
        padding: 12px 18px;
        line-height: 24px;
        border-bottom: 1px solid rgba(7,17,27,0.1);
        color: rgb(147,153,159);
        font-size: 1px;
        &.on {
            .icon-check_circle {
                color: #00c850
            }
        }
        .icon-check_circle {
            display: inline-block;
            vertical-align: top;
            margin-right: 4px;
            font-size: 24px;
        }
        .text {
            display: inline-block;
            vertical-align: top;
            font-size: 12px;
        }
    }
}