@import "../../assets/scss/mixin";


.ratings{
    position: absolute;
    top: 174px;
    bottom: 48px;
    left: 0;
    width: 100%;
    overflow: hidden;
    .overview{
        display: flex;
        padding: 18px 0;
        .overview-left{
            padding: 6px 0;
            flex: 0 0 137px;
            width: 137px;
            border-right: 1px solid rgba(7,17,27,0.1);
            text-align: center;
            @media only screen and (max-width: 320px) {
                flex: 0 0 120px;
                width: 120px;
            }
            .score{
                margin-bottom: 6px;
                line-height: 28px;
                font-size: 24px;
                color: rgb(255,153,0);
            }
            .title{
                margin-bottom: 8px;
                line-height: 12px;
                font-size: 12px;
                color: rgb(7,17,27);
            }
            .renk{
                line-height: 10px;
                font-size: 10px;
                color: rgb(147, 153, 159);
            }
        }
        .overview-right{
            flex: 1;
            padding: 6px 0 6px 24px;
            @media only screen and (max-width: 320px) {
                padding-left: 6px;
            }
            .score-wrapper{
                margin-bottom: 8px;
                font-size: 0;
                .title{
                    display: inline-block;
                    line-height: 18px;
                    vertical-align: top;
                    font-size: 12px;
                    color: rgb(7,17,27);
                }
                .star{
                    display: inline-block;
                    vertical-align: top;
                    margin: 0 12px;
                }
                .score{
                    display: inline-block;
                    vertical-align: top;
                    line-height: 18px;
                    font-size: 12px;
                    color: rgb(255,153,0);
                }
            }
            .delivery-wrapper{
                font-size: 0;
                .title{
                    line-height: 18px;
                    font-size: 12px;
                    color: rgb(7,17,27);
                }
                .delivery{
                    margin: 12px;
                    font-size: 12px;
                    color: rgb(147, 153, 159);
                }
            }
        }
    }
    .rating-wrapper{
        padding: 0 18px;
        .rating-item{
            display: flex;
            padding: 18px 0;
            @include border-1px(rgba(7, 17, 27, 0.1));
            .avatar{
                flex: 0 0 28px;
                width: 28px;
                margin-right: 12px;
                img{
                    border-radius: 50%;
                }
            }
            .content{
                position: relative;
                flex: 1;
                .name{
                    margin-bottom: 4px;
                    line-height: 12px;
                    font-size: 10px;
                    color: rgb(7,17,27);
                }
                .star-wrapper{
                    margin-bottom: 6px;
                    font-size: 0;
                    .star{
                        display: inline-block;
                        margin-right: 6px;
                        vertical-align: top;
                    }
                    .delivery{
                        display: inline-block;
                        vertical-align: top;
                        font-size: 10px;
                        color: rgb(147,153,159);
                    }
                }
                .text{
                    margin-bottom: 8px;
                    line-height: 18px;
                    color: rgb(7,17,27);
                    font-size: 12px;
                }
                .recommend{
                    line-height: 16px;
                    font-size: 0;
                    .icon-thumb_up,
                    .item {
                        display: inline-block;
                        margin: 0 8px 4px 0;
                        font-size: 9px;
                    }

                    .icon-thumb_up {
                        color: rgb(0, 160, 220);
                    }

                    .item {
                        padding: 0 6px;
                        border: 1px solid rgba(7, 17, 27, 0.1);
                        border-radius: 1px;
                        color: rgb(147, 153, 159);
                        background: #fff;
                    }
                }
                .time {
                    position: absolute;
                    top: 0;
                    right: 0;
                    line-height: 12px;
                    font-size: 10px;
                    color: rgb(147, 153, 159);
                }
            }
        }
    }
}