

.cartcontrol {
    font-size: 0;
    .cart-decrease {
        display: inline-block;
        padding: 6px;
        vertical-align: top;
        visibility: hidden;
        opacity: 0;
        transform:translate(24px,0);
        transition: all 0.5s;
        -webkit-transform:translate(24px,0);
        -moz-transform:translate(24px,0);
        -ms-transform:translate(24px,0);
        -o-transform:translate(24px,0);
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        &.move{
            visibility: visible;
            opacity: 1;
            transform:translate(0,0);
            -webkit-transform:translate(0,0);
            -moz-transform:translate(0,0);
            -ms-transform:translate(0,0);
            -o-transform:translate(0,0);
            .inner {
                transform: rotate(0deg);
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                -o-transform: rotate(0deg);
            }
        }
        .inner {
            display: inline-block;
            line-height: 24px;
            font-size: 24px;
            color: rgb(0, 160, 220);
            transition:all 0.5s;
            transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            -webkit-transition:all 0.5s;
            -moz-transition:all 0.5s;
            -ms-transition:all 0.5s;
            -o-transition:all 0.5s;
        }
    }
    .cart-count {
        display: inline-block;
        width: 12px;
        line-height: 34px;
        text-align: center;
        font-size: 10px;
        color: rgb(147,153,159);
        vertical-align: top;
    }
    .cart-add {
        display: inline-block;
        padding: 6px;
        vertical-align: top;
        .inner {
            display: inline-block;
            line-height: 24px;
            font-size: 24px;
            color: rgb(0, 160, 220);
        }
    }
}