@import "../../assets/scss/mixin.scss";

.goods{
    display: flex;
    position: absolute;
    top: 174px;
    bottom: 46px;
    overflow: hidden;
    width: 100%;
    .menu-wrapper {
        flex: 0 0 80px;
        width: 80px;
        background: #f3f5f7;
        .men-item {
            display: table;
            height: 54px;
            width: 56px;
            padding:  0 12px;
            line-height: 14px;
            &.current {
                position: relative;
                z-index: 10;
                margin-top: -1px;
                background: #fff;
                font-weight: 700;
                .text {
                    font-weight: 700;
                    @include border-none();
                }
            }
            .text {
                display: table-cell;
                width: 56px;
                vertical-align: middle;
                @include border-1px(rgba(7,17,27,0.1));
                font-size: 12px;
            }
            .icon {
                display: inline-block;
                vertical-align: top;
                width: 12px;
                height: 12px;
                margin-right: 2px;
                background-size: 12px 12px;
                background-repeat: no-repeat;
                &.decrease {
                    @include bg-image('decrease_3');
                }

                &.discount {
                    @include bg-image('discount_3');
                }

                &.guarantee {
                    @include bg-image('guarantee_3');
                }

                &.invoice {
                    @include bg-image('invoice_3');
                }

                &.special {
                    @include bg-image('special_3');
                }
            }
        }
    }
    .foods-wrapper {
        flex: 1;
        .title {
            padding-left: 14px;
            height: 26;
            line-height: 26px;
            border-left: 2px solid #d9dde1;
            font-size: 12px;
            color: rgb(149,153,159);
            background: #f3f5f7;
        }
        .food-item {
            display: flex;
            margin: 18px;
            padding-bottom: 18px;
            @include border-1px(rgba(7,17,27,.1));
            &:last-child {
                @include border-none();
                margin-bottom: 0;
            }
            .icon {
                flex: 0 0 57px;
                margin-right: 10px;
            }
            .content {
                flex: 1;
                .name {
                    margin: 2px 0 8px 0;
                    height: 14px;
                    line-height: 14px;
                    font-size: 14px;
                    color: rgb(7,17,27);
                }
                .desc, .extra{
                    line-height: 10px;
                    font-size: 10px;
                    color: rgb(147,153,159);
                }
                .desc {
                    line-height: 12px;
                    margin-bottom: 8px;
                }
                .extra {
                    .count {
                        margin-right: 12px;
                    }
                }
                .price {
                    font-weight: 700;
                    line-height: 24px;
                    .now {
                        margin-right: 8px;
                        font-size: 14px;
                        color: rgb(240,20,20);
                    }
                    .old {
                        text-decoration: line-through;
                        font-size: 10px;
                        color: rgb(147,153,159);
                    }
                }
                .cartcontrol-wrapper {
                    position:absolute;
                    right: 0;
                    bottom: 12px;
                }
            }
        }
    }
}