@import "../../assets/scss/mixin";

.food{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 30;
    width: 100%;
    background: #fff;
    transform: translate(0, 0);
    transition: transform cubic-bezier(0.165, 0.84, 0.44, 1) .3s;
    &.hide {
        transform: translate(200%, 0);
    }
    .food-content {
        .image-header{
            position: relative;
            width: 100%;
            height: 0;
            padding-top: 100%;
            img{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
            .back{
                position: absolute;
                top: 5px;
                left: 0;
                padding: 10px;
                .icon-arrow_lift {
                    display: block;
                    padding: 10px;
                    font-size: 20px;
                    color: #fff;
                }
            }
        }
        .content{
            position: relative;
            padding: 18px;
            .title{
                line-height: 14px;
                margin-bottom: 8px;
                font-size: 14px;
                color: rgb(7, 17, 27);
            }
            .detail{
                margin-bottom: 18px;
                line-height: 10px;
                .sell-count, .rating{
                    font-size: 10px;
                    color: rgb(147, 153, 159);
                }
                .sell-count{
                    margin-left: 18px;
                }
            }
            .price{
                font-weight: 700;
                line-height: 24px;
                .now{
                    margin-right: 8px;
                    font-size: 14px;
                    color: rgb(240,20,20);
                }
                .old{
                    text-decoration: line-through;
                    font-size: 10px;
                    color: rgb(147,153,159);
                }
            }
            .cartcontrol-wrapper{
                position: absolute;
                right: 14px;
                bottom: 14px;
            }
            .buy{
                position: absolute;
                right: 18px;
                bottom: 18px;
                z-index: 10;
                height: 21;
                line-height: 24px;
                padding: 0 12px;
                box-sizing: border-box;
                font-size: 10px;
                border-radius: 12px;
                color: #fff;
                background: rgb(0,16,220);
            }
        }
        .info{
            padding: 18px;
            .title{
                line-height: 14px;
                margin-bottom: 6px;
                font-size: 14px;
                color: rgb(7, 17, 27);
            }
            .text{
                line-height: 24px;
                padding: 0 8px;
                font-size: 12px;
                color: rgb(77,85,93);
            }
        }
        .rating{
            padding-top: 18px;
            .title{
                line-height: 14px;
                margin-bottom: 6px;
                font-size: 14px;
                color: rgb(7,17,27);
                margin-left: 18px;
            }
            .reting-wrapper{
                padding: 0 18px;
                .rating-item{
                    position: relative;
                    padding: 16px 0;
                    @include border-1px(rgba(7, 17, 27, 0.1));
                    .user{
                        position: absolute;
                        right: 0;
                        top: 16px;
                        line-height: 12px;
                        font-size: 0;
                        .name{
                            display: inline-block;
                            margin-right: 6px;
                            vertical-align: top;
                            font-size: 10px;
                            color: rgb(147,157,159);
                        }
                        img{
                            width: 12px;
                            height: 12px;
                            border-radius: 50%;
                        }
                    }
                    .tiem{
                        margin-bottom: 6px;
                        line-height: 12px;
                        font-size: 10px;
                        color: rgb(147,157,159);
                    }
                    .text{
                        line-height: 16px;
                        font-size: 12px;
                        color: rgb(7,17,27);
                        .icon-thumb_down,
                        .icon-thumb_up {
                            margin-right: 4px;
                            line-height: 16px;
                            font-size: 12px;
                        }
                        .icon-thumb_up {
                            color: rgb(0, 160, 220);
                        }
    
                        .icon-thumb_down {
                            color: rgb(147, 153, 159);
                        }
                    }
                }
                .no-rating {
                    padding: 16px 0;
                    font-size: 12px;
                    color: rgb(147, 153, 159);
                }
            }
        }
    }
}